
<div class="threadTitleLine">
<h1>{{threadProper.title}}</h1> 
{{#if canRemoveThread}}

<span><form class="threadDelBtn" action="/thread/{{threadProper._id}}/delete" method="post">
  <button class="gamefaq-img-btn">DELETE THREAD <img id="myDeleteButton" src="../images/delete.png" alt=""> </button></form></span>

{{/if}}
</div>


{{!-- <h2>threadComments Check {{thread.threadComments}}</h2>
<h2>{{comments}}</h2> --}}



{{#unless currentUser}}
{{#each threadProper.threadComments}}
<h2>{{comments.[0].posterId.username}}</h2>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">{{posterId.username}} | {{age}} minutes ago</div>


</div>
{{text}}

</div>
<div class ="commentBtns">
{{!-- <button class ="editCommentBtn"> EDIT COMMENT</button> --}}
{{!-- if   Current user in session === Poster Id then avlaiable. --}}
{{#if canUserModify}}
  <div> <a href="/comment/{{_id}}/edit">EDIT COMMENT</a></div>
<form action="/comment/{{_id}}/delete" method="post">
    <button class="gamefaq-img-btn">DELETE COMMENT<img id="myDeleteButton" src="../images/delete.png" alt=""></button>
     {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>

{{else}}


{{/if}}
</div>
{{!-- /if  --}}
<br>
{{/each}}
{{/unless}}

{{!-- //=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

//※※※※※※※※※※※※※※※※※LOGGED IN SECTION BELOW※※※※※※※※※※※※※※※※※※※※※※※※※

//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- --}}
{{#if currentUser}}
{{#each comments}}
<h2>{{comments.[0].posterId.username}}</h2>
{{!-- {{this}} --}}
<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">{{posterId.username}} | {{age}} minutes ago</div>


</div>
{{text}}

</div>
<br>
<div class ="commentBtns">
{{!-- <button class ="editCommentBtn"> EDIT COMMENT</button> --}}
{{!-- if   Current user in session === Poster Id then avlaiable. --}}
{{#if canUserModify}}
  <button class="gamefaq-img-btn" onclick="window.location.href='/comment/{{_id}}/edit?threadId={{../threadProper._id}}';" >EDIT COMMENT <img id="myLogoutButton" src="../images/edit.png" alt=""> </button>
  <br>
  <br>
<form action="/comment/{{_id}}/delete" method="post">
    <button class="gamefaq-img-btn">DELETE COMMENT<img id="myDeleteButton" src="../images/delete.png" alt=""></button>
     {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>


{{else}}


{{/if}}
</div>
{{!-- /if  --}}
<br>
{{/each}}
{{/if}}

<br>

<form action="/threads/{{threadProper._id}}" method="post">

    <div>
    
    {{!-- <input class ="commentBox" type="text" name="text"> --}}
    <textarea data-name="com"  placeholder="Comment" class="commentBox" name="text" autocomplete="off"></textarea>
    </div>
    <br>
    <button class="gamefaq-img-btn">Post <img id="myLogoutButton" src="../images/post.png" alt=""> </button>

</form>


