
<div class="threadTitleLine">
<h1>{{threadProper.title}}</h1> 
{{#if canRemoveThread}}


  <span><form id="form-id{{_id}}" class="deletetingBtn" action="/thread/{{threadProper._id}}/delete" method="post">
<div onclick="
if(confirm(`Are you sure you want to delete this thread?`)){

document.getElementById(`form-id{{_id}}`).submit();

} else {
  return
}
"><button type="button" class="gamefaq-img-btn">DELETE THREAD<img id="myDeleteButton" src="../images/delete.png" alt=""></button></div>
    {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form></span>

{{/if}}
</div>


{{#unless currentUser}}
{{#each threadProper.threadComments}}
<h2>{{comments.[0].posterId.username}}</h2>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">{{posterId.username}} | {{age}} minutes ago</div>


</div>
{{text}}

</div>
<div class ="commentBtns">

{{#if canUserModify}}
  <div> <a href="/comment/{{_id}}/edit">EDIT COMMENT</a></div>


<form action="/comment/{{_id}}/delete" method="post">
    <button class="gamefaq-img-btn">DELETE COMMENT<img id="myDeleteButton" src="../images/delete.png" alt=""></button>
     {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>

{{else}}


{{/if}}
</div>

<br>
{{/each}}
{{/unless}}

{{!-- //=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

//※※※※※※※※※※※※※※※※※LOGGED IN SECTION BELOW※※※※※※※※※※※※※※※※※※※※※※※※※

//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- --}}
{{#if currentUser}}
{{#each comments}}
<h2>{{comments.[0].posterId.username}}</h2>

<div class = "comments">
<div class="commentsHeader">
<div class ="commentPoster">{{posterId.username}} | Posted {{days}} days {{clockHours}} hours {{clockMins}} mins ago</div>


</div>
{{text}}

</div>
<br>
<div class ="commentBtns">

{{#if canUserModify}}
  <button class="gamefaq-img-btn" onclick="window.location.href='/comment/{{_id}}/edit?threadId={{../threadProper._id}}';" >EDIT COMMENT <img id="myLogoutButton" src="../images/edit.png" alt=""> </button>
  <br>
  <br>



<form id="form-id{{_id}}" class="deletetingBtn" action="/comment/{{_id}}/delete" method="post">
<div onclick="
if(confirm(`Are you sure you want to delete this comment?`)){

document.getElementById(`form-id{{_id}}`).submit();

} else {
  return
}
"><button type="button" class="gamefaq-img-btn">DELETE COMMENT<img id="myDeleteButton" src="../images/delete.png" alt=""></button></div>
    {{#if threadId}}
  <input style="display: none" type="text" name="threadId" value="{{threadProper}}" />
 {{/if}}
</form>

{{else}}


{{/if}}
</div>

<br>
{{/each}}
{{/if}}

<br>

<form action="/threads/{{threadProper._id}}" method="post">

    <div>
    
    <textarea data-name="com"  placeholder="Comment" class="commentBox" name="text" autocomplete="off"></textarea>
    </div>
    <br>
    <button class="gamefaq-img-btn">Post <img id="myLogoutButton" src="../images/post.png" alt=""> </button>

</form>


